*, *:after, *:before {
	box-sizing: border-box;
}

body { 
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background: #333333;
}

.main-page {
	max-width: 960px;
	margin: 0 auto;
	background: #fff;
}

.menu {
	width: 100%;
	background: #3facd6;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu ul  li {
	float: left;
}

.menu ul  li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 30px;
	display: block;
}

.wrap {
	padding: 30px;
}

.form-table {
	margin: 0 0 1.3em 0;
}

.form-table th, 
.form-table td,
.list-table th,
.list-table td {
	padding: 5px;
}

.error, .form_error {
	font-size: 12px !important;
	color: red !important;
}

.alert {
	background: yellow;
	color: red;
	padding: 5px;
}

.success {
	font-size: 12px !important;
	color: green !important;
}

.clearfix:after {
	content: '.';
	width: 100%;
	height: 0;
	line-height: 0;
	overflow: hidden;
	display: block;
	clear: both;
	visibility: hidden;
}

img {
	max-width: 100%;
	height: auto;
}